In [1]:
# !conda install scikit-learn
# !conda install statsmodels
# !pip install pyreadstat

In [2]:
import pandas as pd
import statsmodels.formula.api as sm
import numpy as np
from sklearn import linear_model

In [3]:
reddit = pd.read_csv('reddit_data_example.csv')

In [4]:
mobile_use = pd.read_spss('mobile-use.sav')

In [5]:
mobile_use.head()

,Age,spBrand,spAge,spWBUseFreq,spSEUseFreq,spComfInstallBrowser,spComfDefaultBrowserChange,spComfDefaultSearchChange,Sex,GUID,spComfInstallBrowser_recode,spComfDefaultBrowserChange_recode,spComfDefaultSearchChange_recode,Ethnicity,Education,Income,spComfort
0,38.0,HTC,Less than 1 year old,Many times a day,Many times a day,Very uncomfortable,Very uncomfortable,Very uncomfortable,Female,0007a34a-df0f-ff99-dfc8-942cbfd6dba1,0.0,0.0,0.0,Black or African American,Secondary School,,0.000000
1,46.0,NaN,NaN,NaN,NaN,Very comfortable,Very comfortable,Very comfortable,Female,00282bac-006c-7aaf-a02e-1c038f3f9441,4.0,4.0,4.0,White,None completed,"$0 - $14,999",4.000000
2,29.0,NaN,NaN,NaN,NaN,Comfortable,Comfortable,Comfortable,Female,00a4c861-1c1d-e660-60e3-ff8f0d54db96,3.0,3.0,3.0,White,University/Higher Education,"$15,000 - $24,999",3.000000
3,62.0,Google,1 to less than 2 years old,At least once a day,At least once per week,Neither uncomfortable nor comfortable,Uncomfortable,Very comfortable,Female,014ab9a2-1f31-8d9c-8e20-8e614dd9174f,2.0,1.0,4.0,Asian,High School/Tertiary/Tech. College,,2.333333
4,48.0,Don’t know smartphone brand,Don’t know,At least once per month,At least once per month,Comfortable,Comfortable,Comfortable,Female,01cf5015-1cc1-5cc2-0b97-67e45a2e18f2,3.0,3.0,3.0,White,University/Higher Education,,3.000000

In [6]:
mobile_use.dtypes

Age                                   float64
spBrand                              category
spAge                                category
spWBUseFreq                          category
spSEUseFreq                          category
spComfInstallBrowser                 category
spComfDefaultBrowserChange           category
spComfDefaultSearchChange            category
Sex                                  category
GUID                                   object
spComfInstallBrowser_recode           float64
spComfDefaultBrowserChange_recode     float64
spComfDefaultSearchChange_recode      float64
Ethnicity                              object
Education                              object
Income                                 object
spComfort                             float64
dtype: object

In [7]:
mobile_use['spAge']

0             Less than 1 year old
1                              NaN
2                              NaN
3       1 to less than 2 years old
4                       Don’t know
                   ...
1218                           NaN
1219          Less than 1 year old
1220                           NaN
1221    2 to less than 3 years old
1222    1 to less than 2 years old
Name: spAge, Length: 1223, dtype: category
Categories (7, object): ['1 to less than 2 years old', '2 to less than 3 years old', '3 to less than 4 years old', '4 to less than 5 years old', '5 or more years old', 'Don’t know', 'Less than 1 year old']

In [8]:
mobile_use['spAge_r'] = mobile_use['spAge'] \
.replace(['1 to less than 2 years old',
          '2 to less than 3 years old',
          '3 to less than 4 years old',
          '4 to less than 5 years old',
          '5 or more years old',
          'Don’t know',
          'Less than 1 year old'],
        [2, 3, 4, 5, 6, np.nan, 1])

In [9]:
sex_dummies = pd.get_dummies(mobile_use['Sex'], drop_first = True)
sex_dummies.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [10]:
mobile_use.groupby('spBrand')['GUID'] \
.count() \
.sort_values(ascending = False)

spBrand
Apple                                   304
Samsung                                 279
Motorola                                 85
LG                                       75
Google                                   64
Other brand (please specify)             22
Blackberry                               11
Oppo                                     10
OnePlus                                   9
Don’t know smartphone brand               9
Microsoft (Android operating System)      9
Microsoft (Windows operating System)      9
HTC                                       9
Nokia                                     8
Lenovo                                    7
Sony                                      7
Honor                                     5
ZTE                                       5
Vivo                                      4
Huawei                                    3
RealMe                                    3
Xiaomi                                    3
Name: GUID, dtype: int64

In [11]:
brand_dummies = pd.get_dummies(mobile_use['spBrand'], drop_first = True)
brand_dummies.head()

,Blackberry,Don’t know smartphone brand,Google,HTC,Honor,Huawei,LG,Lenovo,Microsoft (Android operating System),Microsoft (Windows operating System),...,Nokia,OnePlus,Oppo,Other brand (please specify),RealMe,Samsung,Sony,Vivo,Xiaomi,ZTE
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
model_data = pd.DataFrame({
    'Comfort': mobile_use['spComfort'],
    'Age': mobile_use['Age'],
    'spAge': mobile_use['spAge_r'],
    'Sex': sex_dummies['Male']})

In [13]:
model_data = model_data.join(brand_dummies[['Samsung', 'Motorola', 'LG', 'Google']])

In [14]:
model_data = model_data.dropna()

In [15]:
model_data

       Comfort   Age spAge  Sex  Samsung  Motorola  LG  Google
0     0.000000  38.0     1    0        0         0   0       0
3     2.333333  62.0     2    0        0         0   0       1
5     4.000000  35.0     2    1        1         0   0       0
6     3.000000  62.0     2    0        1         0   0       0
7     4.000000  41.0     2    1        0         0   1       0
...        ...   ...   ...  ...      ...       ...  ..     ...
1216  3.333333  31.0     5    0        0         0   0       1
1217  0.000000  77.0     1    0        1         0   0       0
1219  3.000000  61.0     1    0        1         0   0       0
1221  2.333333  22.0     3    1        0         0   0       0
1222  2.000000  61.0     2    1        0         0   0       0

[917 rows x 8 columns]

In [16]:
model_data['spAge'] = model_data['spAge'].astype('int64')

In [17]:
model_1 = sm.ols('Comfort ~ spAge + Samsung + Motorola + LG + Google + Age + Sex', data = model_data)

In [18]:
results_1 = model_1.fit()

In [19]:
results_1.params

Intercept    2.743660
spAge        0.025868
Samsung      0.354890
Motorola     0.033473
LG           0.244952
Google       0.030455
Age         -0.014904
Sex          0.336894
dtype: float64

In [20]:
len(results_1.params)

8

In [21]:
np.identity(8)

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [22]:
A = np.identity(8)
A[1:, :]

array([[0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [23]:
results_1.f_test(A[1:, :])

<class 'statsmodels.stats.contrast.ContrastResults'>
<F test: F=11.790512404385419, p=1.9915501974595202e-14, df_denom=909, df_num=7>

In [24]:
results_1.fvalue, results_1.f_pvalue

(11.790512404384803, 1.9915501974632348e-14)

In [25]:
np.zeros_like(results_1.params)

array([0., 0., 0., 0., 0., 0., 0., 0.])

In [26]:
results_1.t_test('spAge = 0, Samsung = 0, Motorola = 0, LG = 0, Google = 0, Age = 0, Sex = 0')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.0259      0.028      0.908      0.364      -0.030       0.082
c1             0.3549      0.090      3.926      0.000       0.178       0.532
c2             0.0335      0.140      0.238      0.812      -0.242       0.309
c3             0.2450      0.148      1.653      0.099      -0.046       0.536
c4             0.0305      0.161      0.190      0.850      -0.285       0.346
c5            -0.0149      0.002     -6.747      0.000      -0.019      -0.011
c6             0.3369      0.077      4.351      0.000       0.185       0.489
==============================================================================

In [27]:
results_1.t_test(A[1:, :])

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.0259      0.028      0.908      0.364      -0.030       0.082
c1             0.3549      0.090      3.926      0.000       0.178       0.532
c2             0.0335      0.140      0.238      0.812      -0.242       0.309
c3             0.2450      0.148      1.653      0.099      -0.046       0.536
c4             0.0305      0.161      0.190      0.850      -0.285       0.346
c5            -0.0149      0.002     -6.747      0.000      -0.019      -0.011
c6             0.3369      0.077      4.351      0.000       0.185       0.489
==============================================================================

In [28]:
reddit.head()

,Date,Domain,Sentiment,Language,Author,Thread Entry Type,Reddit Author Awardee Karma,Reddit Author Awarder Karma,Reddit Author Karma,Reddit Comments,Reddit Score,Reddit Score Upvote Ratio
0,2/9/2023 20:12,reddit.com,neutral,en,AutoModerator,reply,2397363,0,2000,NaN,1,NaN
1,2/9/2023 17:42,reddit.com,neutral,en,AutoModerator,reply,2397218,0,2000,NaN,1,NaN
2,2/9/2023 17:41,reddit.com,neutral,en,AutoModerator,reply,2397218,0,2000,NaN,1,NaN
3,2/8/2023 22:12,reddit.com,negative,en,KaylaST,reply,110,14,1470,NaN,1,NaN
4,2/8/2023 20:15,reddit.com,negative,en,CaveLady3000,post,311,73,4148,0.0,1,1.0

In [29]:
reddit = reddit.astype({'Date': 'datetime64',
                        'Sentiment': 'category',
                        'Language': 'category',
                        'Author': 'category',
                        'Thread Entry Type':'category'})

In [30]:
reddit.head()

,Date,Domain,Sentiment,Language,Author,Thread Entry Type,Reddit Author Awardee Karma,Reddit Author Awarder Karma,Reddit Author Karma,Reddit Comments,Reddit Score,Reddit Score Upvote Ratio
0,2023-02-09 20:12:00,reddit.com,neutral,en,AutoModerator,reply,2397363,0,2000,NaN,1,NaN
1,2023-02-09 17:42:00,reddit.com,neutral,en,AutoModerator,reply,2397218,0,2000,NaN,1,NaN
2,2023-02-09 17:41:00,reddit.com,neutral,en,AutoModerator,reply,2397218,0,2000,NaN,1,NaN
3,2023-02-08 22:12:00,reddit.com,negative,en,KaylaST,reply,110,14,1470,NaN,1,NaN
4,2023-02-08 20:15:00,reddit.com,negative,en,CaveLady3000,post,311,73,4148,0.0,1,1.0

In [31]:
reddit.groupby('Author')['Date'].count().sort_values(ascending = False).head(30)

Author
AutoModerator          1861
HeartTelegraph2         178
happyduck18             118
EnsconcedScone          115
anonymous_october        99
ClassicReply             78
theycallmesasha          75
wave-life                69
Love4SaveFerris          62
darling_di               59
ut3naa                   56
NFCourt                  55
bean-diccted             50
memegoddess2004          44
sinisasin                42
Jammertal17              41
FiguringItOut--          40
blurryleo                39
depressoacc              38
thirdeyeherbivore        37
throwawayfaptingz        35
AllieKat23               34
Paradox_Blobfish         33
All4-1-4All              33
iloveyoubecauseican      32
Elizabeth2586            30
orbit4eva                30
rhra99                   30
118434                   29
lets_kick_this           28
Name: Date, dtype: int64

In [32]:
reddit.groupby('Author')['Reddit Score'] \
.describe() \
.sort_values('count', ascending = False) \
.head(30)

,count,mean,std,min,25%,50%,75%,max
Author,,,,,,,,
AutoModerator,1861.0,0.871037,0.452620,-3.0,1.00,1.0,1.00,8.0
HeartTelegraph2,178.0,1.123596,3.948311,-2.0,0.00,0.0,0.00,36.0
happyduck18,118.0,5.635593,11.863659,0.0,0.00,2.0,4.75,81.0
EnsconcedScone,115.0,1.443478,2.759962,0.0,0.00,0.0,2.00,16.0
anonymous_october,99.0,5.616162,10.200747,0.0,0.00,2.0,4.00,56.0
ClassicReply,78.0,4.641026,6.654701,0.0,1.00,2.0,5.00,32.0
theycallmesasha,75.0,7.746667,10.248393,0.0,2.00,3.0,9.00,51.0
wave-life,69.0,3.333333,6.225344,1.0,1.00,2.0,3.00,36.0
Love4SaveFerris,62.0,2.161290,2.341315,0.0,1.00,1.0,2.00,12.0
darling_di,59.0,1.813559,5.802718,0.0,0.00,0.0,2.00,42.0
ut3naa,56.0,5.160714,6.068628,1.0,1.00,3.0,5.00,25.0
NFCourt,55.0,6.672727,9.591768,0.0,1.00,3.0,6.50,47.0
bean-diccted,50.0,6.900000,8.509898,1.0,2.00,4.0,8.00,47.0
memegoddess2004,44.0,14.886364,16.791770,0.0,3.00,5.5,23.50,55.0
sinisasin,42.0,4.619048,5.036222,-1.0,1.00,3.0,7.75,22.0
Jammertal17,41.0,2.707317,7.454005,0.0,0.00,2.0,2.00,48.0
FiguringItOut--,40.0,4.300000,5.150056,0.0,1.75,3.0,5.00,27.0
blurryleo,39.0,6.948718,13.843008,0.0,2.00,3.0,4.50,74.0
depressoacc,38.0,10.947368,16.475940,1.0,2.00,4.0,11.50,69.0
thirdeyeherbivore,37.0,2.216216,4.289102,-6.0,0.00,0.0,3.00,18.0
throwawayfaptingz,35.0,6.514286,11.528408,0.0,2.00,2.0,4.50,59.0
AllieKat23,34.0,2.205882,4.248204,-15.0,0.25,2.0,3.75,11.0
Paradox_Blobfish,33.0,7.060606,5.835984,1.0,2.00,5.0,10.00,25.0
All4-1-4All,33.0,3.575758,3.102724,1.0,2.00,2.0,5.00,14.0
iloveyoubecauseican,32.0,4.250000,4.272946,1.0,1.75,3.0,5.00,22.0
Elizabeth2586,30.0,2.000000,1.017095,1.0,1.00,2.0,2.75,5.0
orbit4eva,30.0,6.933333,9.070351,1.0,2.00,3.0,9.75,39.0
rhra99,30.0,7.266667,9.417274,1.0,1.00,3.0,5.75,31.0
118434,29.0,8.137931,10.622497,1.0,2.00,4.0,7.00,47.0
lets_kick_this,28.0,4.214286,6.596055,0.0,1.00,2.0,3.00,29.0

In [33]:
reddit.groupby('Author')['Reddit Score'] \
.describe() \
.sort_values('mean', ascending = False) \
.head(30)

,count,mean,std,min,25%,50%,75%,max
Author,,,,,,,,
aberletsc,1.0,90.000000,NaN,90.0,90.00,90.0,90.00,90.0
Lumenesa,1.0,54.000000,NaN,54.0,54.00,54.0,54.00,54.0
paganporridge,1.0,53.000000,NaN,53.0,53.00,53.0,53.00,53.0
endless-strive,1.0,46.000000,NaN,46.0,46.00,46.0,46.00,46.0
throwsAndb0x,1.0,41.000000,NaN,41.0,41.00,41.0,41.00,41.0
CorgiLover831,1.0,41.000000,NaN,41.0,41.00,41.0,41.00,41.0
Obligation-Mediocre,2.0,41.000000,24.041631,24.0,32.50,41.0,49.50,58.0
esotericspeech,1.0,39.000000,NaN,39.0,39.00,39.0,39.00,39.0
PengTrash,1.0,37.000000,NaN,37.0,37.00,37.0,37.00,37.0
sadauntrbn,1.0,35.000000,NaN,35.0,35.00,35.0,35.00,35.0
rightnowkapow4,1.0,35.000000,NaN,35.0,35.00,35.0,35.00,35.0
nosambique,2.0,33.000000,43.840620,2.0,17.50,33.0,48.50,64.0
curlydandelion,1.0,33.000000,NaN,33.0,33.00,33.0,33.00,33.0
Suitable_Cover4823,2.0,33.000000,5.656854,29.0,31.00,33.0,35.00,37.0
assdragonfart,2.0,33.000000,32.526912,10.0,21.50,33.0,44.50,56.0
Zuikaku72,1.0,32.000000,NaN,32.0,32.00,32.0,32.00,32.0
maddestmaddy_,1.0,31.000000,NaN,31.0,31.00,31.0,31.00,31.0
ShadilayGirl,1.0,31.000000,NaN,31.0,31.00,31.0,31.00,31.0
verydisappointed1029,1.0,29.000000,NaN,29.0,29.00,29.0,29.00,29.0
kimityan,2.0,28.500000,40.305087,0.0,14.25,28.5,42.75,57.0
tiem_tiam,1.0,28.000000,NaN,28.0,28.00,28.0,28.00,28.0
andthelordsaidno,1.0,28.000000,NaN,28.0,28.00,28.0,28.00,28.0
kookieandacupoftae,1.0,28.000000,NaN,28.0,28.00,28.0,28.00,28.0
finstantnoodles,1.0,27.000000,NaN,27.0,27.00,27.0,27.00,27.0
Hopezero,4.0,27.000000,32.873495,2.0,2.75,17.0,41.25,72.0
RonskyGorzama,7.0,26.428571,29.364702,1.0,4.00,8.0,47.00,74.0
maryksuul,3.0,26.333333,22.007574,4.0,15.50,27.0,37.50,48.0
dagardenofeatin,1.0,26.000000,NaN,26.0,26.00,26.0,26.00,26.0
bnm_2000,4.0,25.000000,30.232433,0.0,0.00,19.5,44.50,61.0
Specialist-Relief159,6.0,24.333333,23.036203,2.0,8.75,24.0,25.75,66.0

In [34]:
reddit_no_mod = reddit[reddit['Author'] != 'AutoModerator']

In [35]:
reddit = reddit_no_mod.reset_index()

In [36]:
thread_type_dummies = pd.get_dummies(reddit['Thread Entry Type'], drop_first = True)

In [37]:
thread_type_dummies.head()

   reply
0      1
1      0
2      1
3      1
4      1

In [38]:
sentiment_dummies = pd.get_dummies(reddit['Sentiment'])

In [39]:
sentiment_dummies.head()

   negative  neutral  positive
0         1        0         0
1         1        0         0
2         1        0         0
3         0        1         0
4         0        1         0

In [40]:
reddit_model_data = pd.DataFrame({
    'Score': reddit['Reddit Score'],
    'Reply': thread_type_dummies['reply'],
    'Negative': sentiment_dummies['negative'],
    'Positive': sentiment_dummies['positive']})

In [41]:
reddit_model_data.head()

   Score  Reply  Negative  Positive
0      1      1         1         0
1      1      0         1         0
2      5      1         1         0
3      1      1         0         0
4      1      1         0         0

In [42]:
model_2 = sm.ols('Score ~ Reply + Negative + Positive', data = reddit_model_data)
results_2 = model_2.fit()

In [43]:
results_2.params

Intercept    15.023865
Reply       -12.764277
Negative      1.155742
Positive      0.273196
dtype: float64

In [44]:
results_2.f_test(np.identity(4)[1:, :])

<class 'statsmodels.stats.contrast.ContrastResults'>
<F test: F=591.6626696555738, p=0.0, df_denom=6.27e+03, df_num=3>

In [45]:
results_2.fvalue, results_2.f_pvalue

(591.662669655574, 0.0)

In [46]:
results_2.t_test(np.identity(4)[1:, :])

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0           -12.7643      0.312    -40.883      0.000     -13.376     -12.152
c1             1.1557      0.250      4.624      0.000       0.666       1.646
c2             0.2732      0.274      0.998      0.318      -0.263       0.810
==============================================================================